.dashboard {
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  border: 1px solid black;
  padding: 0.5rem;
  min-height: 70vh;
  background-color: teal;
}
