.dashboard {
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 2px 2px 5px black;
  padding: 0.5rem;
  min-height: 70vh;
  background-color: teal;
}

.dashboard > h1 {
  color: white;
}
