.dashboard {
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  border: 1px solid black;
  padding: 0.5rem;
  min-height: 70vh;
  background-color: teal;
}

.card {
  border: 1px solid black;
  width: 25vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 2rem;
  margin-bottom: 0.3rem;
}
