.header {
    display: flex;
    align-items: center;
    background: rgb(72, 159, 189);
    padding: 1rem 0.5rem;
    justify-content: space-between;
    border-radius: 8px;
}

.logo {
    font-family: sans-serif;
    margin-left: 3rem;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(21, 30, 80);
    text-shadow: 2px 2px black;
}
